
.titulo-seccion {
    font-weight: bold; 

}

.contacto {
    color: rgb(13, 20, 31);
    padding: 6rem 0px 0px;

}

.titulo-seccion {
    color: #595959;
    font-size: 2rem;
    line-height: 1.3em;
    text-align: center;
}
    


.contacto .mapa {
    height: auto;
    margin-bottom: 25px;
    width: 100%;
}

.contacto .mapa iframe {
    width: 100% !important;
}

.contacto .contacto-box {
    box-sizing: border-box;
    float: initial;
    margin-top: 0;
    padding: 0px 0px 0 10px;
    text-align: center;
}

.contacto h3 {
    color: #848484;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 7px 0;
    text-transform: uppercase;
}

.contacto .contacto-box p {
    color: #535353;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 155%;
    margin-bottom: 25px;
    padding: 0;
}

.contacto .contacto-box p.bold {
    color: #848484;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 10px 0 7px 0;
    padding: 0;
    text-transform: uppercase;
}

.contacto .contacto-box p {
    color: #535353;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 155%;
    margin-bottom: 25px;
    padding:0;
}

.contacto .col1 {
    box-sizing: border-box;
    margin-top: 0;
    display: grid;    
    justify-content: space-around;
}

.contacto .input-wrapper {
    box-sizing: border-box;
    float: left;
    padding: 0 9px;
    width: 33.33%;
}

.contacto label {
    color: #848484;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.contacto .col1 input {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    transition: .3s all ease;
}

.contacto .input-wrapper {
    box-sizing: border-box;
    float: left;
    padding: 0 9px;
    width: 33.33%;
}
.contacto label {
    color: #848484;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.contacto .col1 input {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    transition: .3s all ease;
}

.contacto .input-wrapper {
    box-sizing: border-box;
    float: left;
    padding: 0 9px;
    width: 33.33%;
}

.contacto label {
    color: #848484;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.contacto  .col1 input {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    transition: .3s all ease;
}

.contacto .input-wrapper.no-display {
    display: none;
}

.contacto .input-wrapper {
    box-sizing: border-box;
    float: left;
    padding: 0 9px;
    width: 33.33%;
}

.contacto label {
    color: #848484;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.contacto .col1 input {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    transition: .3s all ease;
}

.contacto .input-wrapper.no-display {
    display: none;
}

.contacto label {
    color: #848484;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.contacto  .col1 input {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    transition: .3s all ease;
}

.contacto .textarea-wrapper {

box-sizing: border-box;
float: left;
padding: 0 9px;
width: 33.33%;
}

.contacto label {
    color: #848484;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.contacto .cont .col1 textarea {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    height: 163px;
    margin-bottom: 8px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.contacto .button-wrapper {
    box-sizing: border-box;
    float: right;
    padding: 0 7px;
}

.contacto  .col1 button {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    color: #8f8f8f;
    cursor: pointer;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 21px;
    margin: 0 0 0 15px;
    padding: 15px 45px 13px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}


.clear {
    clear: both;
}
